@font-face {
    font-family: "CHANGETHIS";
    src: local("CHANGETHIS"),
      url("../fonts/CHANGETHIS.woff2") format("woff2"),
      url("../fonts/CHANGETHIS.woff") format("woff"),
      url("../fonts/CHANGETHIS.ttf") format("truetype");
      font-weight: CHANGETHIS;
  }