.header {
    &__container {
        height: 112px;
        margin-top: 2px;
        padding: 30px 22px;
        padding-right: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--border-color);
    }

    &__nav {
        display: flex;
        align-items: center; 

        &-link {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: var(--header-nav-link-color);
            text-decoration: none;
            &:not(:last-child) {
                margin-right: 150px;
            }
            &:nth-child(2) {
                margin-right: 86px;
            }
            &:nth-child(3) {
                margin-right: 19px;
                max-height: 100%;
            }
        }
    }
}