.promo {
    &__container {
        display: grid;
        grid-template-columns: 50% 50%;
        border: 1px solid var(--border-color);
        border-top: none;
        padding-left: 0;
        padding-right: 0;
    }

    &__left {
        border-right: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
    }

    &__img-first {
        max-width: 100%;
    }

    &__img {
        padding: 19px;
        max-width: 100%;
    }

    &__right {
        display: flex;
        flex-direction: column;
    }

    &__title {
        padding-top: 24px;
        padding-bottom: 25px;
        border-bottom: 1px solid var(--border-color);
    }
}