.ribbon {
    padding: 25px 0;
    display: flex;
    gap: 28px;
    overflow: hidden;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    &__block {
        display: flex;
        gap: 28px;
        animation: ribbon-move linear 2s infinite forwards;
        will-change: auto;
    }

    @keyframes ribbon-move {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(8%)
        }
    }

    &__text {
        width: 262px;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #000;
    }
}